.photoType {
  padding: 30px 0 30px 50px;
  border-bottom: 1px solid black;

  .typeItem {
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 16px;
    color: black;
    transition: 0.25s background-color, 0.25s color;

    &:hover {
      color: white;
      background-color: black;
    }
  }
}
