.RecommendedTab {
  height: 300px;
  border: 2px solid lightgray;
  position: relative;

  --basic-font-size: 16px;
  font-size: var(--basic-font-size);

  > * {
    position: absolute;
    left: 15px;
  }

  .title {
    top: 30px;

    font-weight: bold;
    font-size: calc(var(--basic-font-size) + 10px);
  }

  .sub-title {
    top: 10px;
  }

  .types {
    top: 80px;
    right: 15px;

    display: flex;
    flex-wrap: wrap;

    gap: 10px;
  }
}

/* 조금 큰 테블릿일 때 */
@media (max-width: 1103px) {
  .RecommendedTab {
    --basic-font-size: 14px;
  }
}

@media (max-width: 886px) {
  .RecommendedTab {
    --basic-font-size: 13px;
  }
}

@media (max-width: 670px) {
  .RecommendedTab {
    --basic-font-size: 12px;
  }
}
