.RecommendedTab {
  height: 300px;
  border: 2px solid lightgray;
  position: relative;

  > * {
    position: absolute;
    left: 15px;
  }

  .title {
    top: 30px;

    font-weight: bold;
    font-size: calc(1em + 10px);
  }

  .sub-title {
    top: 10px;
  }

  .types {
    top: 80px;
    right: 15px;

    display: flex;
    flex-wrap: wrap;

    gap: 10px;
  }
}
