.RecommendedTab {
  border: 2px solid lightgray;
  padding: 10px;

  .title {
    font-weight: bold;
    font-size: calc(1em + 10px);
  }

  .types {
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
}
