.photo {
  padding: 20px;

  --gap: 64px;
  --colums: 5;

  /* 한줄에 최대 5개 까지 보이도록 구성 */
  .images {
    width: calc((100% - var(--gap)) / var(--colums));
    border-radius: 16px;
  }
}

/* 조금 큰 테블릿일 때 */
@media (max-width: 1103px) {
  .photo {
    --gap: 48px;
    --colums: 4;
  }
}

@media (max-width: 886px) {
  .photo {
    --gap: 32px;
    --colums: 3;
  }
}

@media (max-width: 670px) {
  .photo {
    --gap: 16px;
    --colums: 2;
  }
}
