.typeButton {
  /* Variables */
  --button_radius: 0.75em;
  --button_color: #e8e8e8;
  --button_outline_color: #000000;

  font-size: 17px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: var(--button_radius);
  background: var(--button_outline_color);

  .button_top {
    display: block;
    box-sizing: border-box;
    border: 2px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: 0.75em 0.75em;
    background: var(--button_color);
    color: var(--button_outline_color);
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
  }

  &:hover .button_top {
    /* Pull the button upwards when hovered */
    transform: translateY(-0.33em);
  }

  &:active .button_top {
    /* Push the button downwards when pressed */
    transform: translateY(0);
  }
}

/* 조금 큰 테블릿일 때 */
@media (max-width: 1103px) {
  .typeButton {
    font-size: 14px;
  }
}

@media (max-width: 886px) {
  .typeButton {
    font-size: 13px;
  }
}

@media (max-width: 670px) {
  .typeButton {
    font-size: 12px;
  }
}
